<%- include ("partials/header.ejs") %>

<main>
    <h1>View Events</h1>
    <p>You can track the progress of your events and update any of their information using the Modify link on the left.</p>
    <table>
        <thead>
            <tr>
                <th scope="col">View</th>
                <th scope="col">Title</th>
                <th scope="col">District Office</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <% events.forEach(function(event) { %>
            <tr>
                <td class="event-link"><a href="/events/<%= event.id %>/edit">Modify</a></td>
                <td class="event-name"><%= event.title %></td>
                <td class="event-districtoffice"><%= event.office %></td>
                <td class="event-startdate">05/27/2020</td>
                <td class="event-enddate">05/27/2020</td>
                <td class="event-starttime">09:45 AM</td>
                <td class="event-endtime">11:00 AM</td>
                <td class="event-status"><%= event.status %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</main>
<script>
    var offset = new Date().getTimezoneOffset();
    console.log(offset/60);
</script>

<%- include ("partials/footer.ejs") %>