<%- include ("partials/header.ejs") %>

<main>
    <h1>Approve Events</h1>
    <p>Here you can approve events submitted to be published on SBA.gov.  Please allow 15 minutes before the event listing is visible on the site.</p>
    <table>
        <thead>
            <tr>
                <th scope="col">Actions</th>
                <th scope="col">Title</th>
                <th scope="col">District Office</th>
                <th scope="col">Start Date</th>
                <th scope="col">Start Time</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <% events.forEach(function(event) { %>
            <tr>
                <td class="event-link"><a href="/events/<%= event.id %>/review">Approve</a>
                <td class="event-name"><%= event.title %></td>
                <td class="event-districtoffice"><%= event.office %></td>
                <td class="event-startdate"><%= event.start_date %></td>
                <td class="event-starttime"><%= event.start_time %></td>
                <td class="event-status"><%= event.status %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</main>

<%- include ("partials/footer.ejs") %>