<%- include ("partials/header.ejs") %>

<main>
    <h1>Modify Event</h1>
    <p>Status: <%= event.status %></p>
    <form>
        <fieldset>
            <legend>Title and Description</legend>
            <label>Title<span class="required">*</span></label>
            <input type="text" id="sample-name-form" name="event[title]" value="<%= event.title %>" required>
            <label>Description<span class="required">*</span></label>
            <textarea rows="5" name="event[description]" required><%= event.description %></textarea>
            <label>District Office<span class="required">*</span></label>
            <select name="event[office]" required>
                <% var options = ["Alabama", "Alaska", "Arizona", "Arkansas", "Baltimore", "Boise", "Buffalo", "Cleveland", "Colorado", "Columbus", "Connecticut", 
                               "Dallas Fort Worth", "Delaware", "Eastern Pennsylvania", "El Paso", "Fresno", "Georgia", "Hawaii", "Houston", "Illinois", "Indiana", 
                               "Iowa", "Kansas", "Kentucky", "Los Angeles", "Louisiana", "Lower Rio Grande Valley", "Lubbock-West Texas", "Maine", "Massachusetts", 
                               "Michigan", "Minnesota", "Mississippi", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", 
                               "North Carolina", "North Dakota", "North Florida", "Oklahoma", "Orange County", "Pittsburgh", "Portland", "Puerto Rico and US Virgin Islands",
                               "Rhode Island", "Sacramento", "San Antonio", "San Diego", "San Francisco", "Seattle", "South Carolina", "South Dakota", "South Florida", 
                               "St. Louis Missouri", "Syracuse", "Tennessee", "Utah", "Vermont", "Virginia", "Washington Metropolitan Area", "West Virginia", "Wichita", 
                               "Wisconsin", "Wyoming"]; %>
                <% for (var i = 0; i < options.length; i++) { %>
                    <% var officeSelected = "" %>
                    <% if (options[i] == event.office) { %>
                        <% officeSelected = "selected" %>
                    <% } %>
                    <option value="<%= options[i] %>" <%= officeSelected %>><%= options[i] %></option>
                <% } %>
            </select>
        </fieldset>
        <fieldset>
            <legend>Time and Date</legend>
            <label>Start Date<span class="required">*</span></label>
            <input type="date" name="event[start_date]" value="<%= event.start_date %>" required>
            <label>End Date<span class="required">*</span></label>
            <input type="date" name="event[end_date]" value="<%= event.end_date %>" required>
            <label>Start Time<span class="required">*</span></label>
            <input type="time" name="event[start_time]" value="<%= event.start_time %>" required>
            <label>End Time<span class="required">*</span></label>
            <input type="time" name="event[end_time]" value="<%= event.end_time %>" required>
            <label>Timezone<span class="required">*</span></label>
            <select name="event[timezone]" required>
                <% var options = ["Eastern Daylight Time (UTC -4)","Central Daylight Time (UTC -5)","Mountain Daylight Time (UTC -6)",
                                  "Mountain Standard Time (UTC -7)","Pacific Daylight Time (UTC -7)","Alaska Daylight Time (UTC -8)",
                                  "Hawaii Standard Time (UTC -10)", "Samoa Standard Time (UTC -11)", "Chamorro Standard Time (UTC +10)"] %>
                <% for (var i = 0; i < options.length; i++) { %>
                    <% var timezoneSelected = "" %>
                    <% if (options[i] == event.timezone) { %>
                        <% timezoneSelected = "selected" %>
                    <% } %>
                    <option value="<%= options[i] %>" <%= timezoneSelected %>><%= options[i] %></option>
                <% } %>
            </select>
            <label for="eventtoggle">Recurring Event?</label>
            <select id="eventtoggle" name="event[recurring]">
                <option value="onetime" <%= event.recurring == 'onetime' ? 'selected' : ''%>>No</option>
                <option value="recurring" <%= event.recurring == 'recurring' ? 'selected' : ''%>>Yes</option>
            </select>
            <label class="recurring <%= event.recurring == 'recurring' ? '' : 'hidden'%>" for="interval">How often?</label>
            <select class="recurring <%= event.recurring == 'recurring' ? '' : 'hidden'%>" id="interval" name="event[interval]">
                <% var options = ["Daily", "Weekly", "Monthly"] %>
                <% for (var i = 0; i < options.length; i++) { %>
                    <% var recurrenceSelected = "" %>
                    <% if (options[i] == event.interval) { %>
                        <% recurrenceSelected = "selected" %>
                    <% } %>
                    <option value="<%= options[i] %>" <%= recurrenceSelected %>><%= options[i] %></option>
                <% } %>       
            </select>
            <label class="recurring <%= event.recurring == 'recurring' ? '' : 'hidden'%>" for="enddate">When will events end?</label>
            <input class="recurring <%= event.recurring == 'recurring' ? '' : 'hidden'%>" id="enddate" type="date" value="<%= event.recurrence_end_date %>">
        </fieldset>
        <fieldset>
            <legend>Location</legend>
            <label>Type of Event?</label>
            <select id="typeofevent" name="event[type]">
                <option value="in-person" <%= event.type == 'in-person' ? 'selected' : ''%>>In Person</option>
                <option value="online" <%= event.type == 'online' ? 'selected' : ''%>>Online</option>
            </select>
            <label for="">Name of Location<span class="required">*</span></label>
            <input class="location" type="text" id="" name="event[location_name]" value="<%= event.location_name %>" required>
            <label for="">Street 1<span class="required">*</span></label>
            <input class="location" type="text" id="" name="event[address_street_1]" value="<%= event.address_street_1 %>" required>
            <label for="">Street 2</label>
            <input class="location" type="text" id="" name="event[address_street_2]" value="<%= event.address_street_2 %>">
            <label for="">City<span class="required">*</span></label>
            <input class="location" type="text" id="" name="event[address_city]" value="<%= event.address_city %>" required>
            <label for="">State/Province<span class="required">*</span></label>
            <select class="location" name="event[address_state]" required>
                <% var options = ['Alabama','Alaska','American Samoa','Arizona','Arkansas','California','Colorado','Connecticut','Delaware',
                                  'District of Columbia','Federated States of Micronesia','Florida','Georgia','Guam','Hawaii','Idaho','Illinois',
                                  'Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Marshall Islands','Maryland','Massachusetts','Michigan',
                                  'Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New Hampshire','New Jersey','New Mexico','New York',
                                  'North Carolina','North Dakota','Northern Mariana Islands','Ohio','Oklahoma','Oregon','Palau','Pennsylvania','Puerto Rico',
                                  'Rhode Island','South Carolina','South Dakota','Tennessee','Texas','Utah','Vermont','Virgin Island','Virginia','Washington',
                                  'West Virginia','Wisconsin','Wyoming'] %>
                <% for (var i = 0; i < options.length; i++) { %>
                    <% var stateSelected = "" %>
                    <% if (options[i] == event.address_state) { %>
                        <% stateSelected = "selected" %>
                    <% } %>
                    <option value="<%= options[i] %>" <%= stateSelected %>><%= options[i] %></option>
                <% } %>
            </select>
            <label for="">Postal Code<span class="required">*</span></label>
            <input class="location" type="text" pattern="[0-9]{5}" id="" value="<%= event.address_zip %>" required>
        </fieldset>
        <fieldset>
            <legend>Contact Information</legend>
            <label for="">Name</label>
            <input type="text" id="sample-name-form" name="event[contact_name]" value="<%= event.contact_name %>">
            <label for="">Email</label>
            <input type="email" id="contact-email" name="event[contact_email]" value="<%= event.contact_email %>">
            <label for="">Phone</label>
            <input type="tel" id="contact-tel" name="event[contact_phone]" value="<%= event.contact_phone %>">
            <label for="">Registration Link</label>
            <input type="url" id="registration-url" name="event[registration_url]" value="<%= event.registration_url %>">
            <label for="">Cost</label>
            <input type="number" id="event-cost" name="event[cost]" value="<%= event.cost %>">
        </fieldset>
        <input type="submit" value="Submit for Approval" formaction="/events/<%= event.eventID %>/?status=submitted&_method=PUT" formmethod="post">
        <input type="submit" value="Save as Draft" formaction="/events/<%= event.eventID %>/?status=draft&_method=PUT" formmethod="post">
        <input type="submit" value="Cancel this Event" formaction="/events/<%= event.eventID %>?_method=DELETE" formmethod="post" formnovalidate>
        <input type="submit" value="Delete this Event" formaction="/events/<%= event.eventID %>?_method=DELETE" formmethod="post" formnovalidate>
    </form>
</main>
<script>
    var offset = new Date().getTimezoneOffset();
    console.log(offset/60);

    var locationInputs = document.getElementsByClassName('location')

    var typeOfEvent = document.getElementById('typeofevent')

    if (typeOfEvent.options[typeOfEvent.selectedIndex].text) {
        // console.log("Online event loaded")
        for (let inputElement of locationInputs) {
                inputElement.required = false
                inputElement.disabled = true
                // console.log(inputElement)
        }
    }

    typeOfEvent.addEventListener('change', (event) => {
        if (event.target.value === "in-person") {
            // console.log("In Person event detected")
            for (let inputElement of locationInputs) {
                inputElement.required = true
                inputElement.disabled = false
                // console.log(inputElement)
            }
        }

        if (event.target.value === "online") {
            // console.log("Online event detected")
            for (let inputElement of locationInputs) {
                inputElement.required = false
                inputElement.disabled = true
                // console.log(inputElement)
            }
        }
    })

    var recurringInputs = document.getElementsByClassName('recurring')
    console.log(recurringInputs)
    var recurringToggle = document.getElementById('eventtoggle')
    console.log(recurringToggle)
    recurringToggle.addEventListener('change', (event) => {
        if (event.target.value == "recurring") {
            console.log("Yes selected!")
            for (let inputElement of recurringInputs) {
                inputElement.classList.remove("hidden")
            }
        }

        if (event.target.value == "onetime") {
            console.log("No selected!")
            for (let inputElement of recurringInputs) {
                inputElement.classList.add("hidden")
            }
        }
    })
</script>

<%- include ("partials/footer.ejs") %>
