<!DOCTYPE html>
<html lang="en">

<%- include ("partials/head.ejs") %>

<body>

<%- include ("partials/header.ejs") %>

<main>
    <div class="login-form">
        <h2>Register an account</h2>
        <p class="required"><%= errormessage %></p>
        <form action="/signup" method="POST">
        <input name="email" type="email" title="username" placeholder="username" />
        <br/>
        <br/>
        <input name="password" type="password" title="password" placeholder="password" />
        <br/>
        <br/>
        <input name="passwordConfirmation" type="password" placeholder="password confirmation" />
        <br/>
        <br/>
        <label>District Office<span class="required">*</span></label>
        <select name="office" required>
            <% var options = ["Alabama", "Alaska", "Arizona", "Arkansas", "Baltimore", "Boise", "Buffalo", "Cleveland", "Colorado", "Columbus", "Connecticut", 
                           "Dallas Fort Worth", "Delaware", "Eastern Pennsylvania", "El Paso", "Fresno", "Georgia", "Hawaii", "Houston", "Illinois", "Indiana", 
                           "Iowa", "Kansas", "Kentucky", "Los Angeles", "Louisiana", "Lower Rio Grande Valley", "Lubbock-West Texas", "Maine", "Massachusetts", 
                           "Michigan", "Minnesota", "Mississippi", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", 
                           "North Carolina", "North Dakota", "North Florida", "Oklahoma", "Orange County", "Pittsburgh", "Portland", "Puerto Rico and US Virgin Islands",
                           "Rhode Island", "Sacramento", "San Antonio", "San Diego", "San Francisco", "Seattle", "South Carolina", "South Dakota", "South Florida", 
                           "St. Louis Missouri", "Syracuse", "Tennessee", "Utah", "Vermont", "Virginia", "Washington Metropolitan Area", "West Virginia", "Wichita", 
                           "Wisconsin", "Wyoming"]; %>
            <% for (var i = 0; i < options.length; i++) { %>
                <option value="<%= options[i] %>"><%= options[i] %></option>
            <% } %>
        </select>
        <br/>
        <br/>
        <button type="submit" class="btn">Sign Up</button>
        </form>
    </div>
</main>

<%- include ("partials/footer.ejs") %>

</body>
</html>